
@category-header-height: 55px;

[class~=category-header-image-auto] {
    float: left;
    margin-right: 10px;
    width: @category-header-height;
    height: @category-header-height;
    padding-top: @category-header-height / 2;
    padding-left: 5px;
    text-align: center;
    .fa-2x {
        display: block;
        margin-top: -0.5em;
    }
    background: none !important;
}

.subcategories {
    margin-bottom: 20px;
}
.subcategories > [data-cid] {
    background-color: white;
}

h4.category-title {
    width: auto;
    text-align: left;
    color: black;
}
.category-description {
    text-align: left;
    color: gray;
}
.category-header {
    display: block;
    margin-top: 10px;
    margin-bottom: 0;
    background-color: white;
    padding: 0;
    text-align: left;
    height: @category-header-height;
    .badge {
        float: right;
        border-radius: 0px;
    }
}

.category-header.subcategory-header {
    margin-top: 0;
    padding-left: 50px;
}

.post-row .topic-item, #topics-container .category-item {


	-webkit-transition: 500ms ease-in-out;
	-moz-transition: 500ms ease-in-out;
	-ms-transition: 500ms ease-in-out;
	-o-transition: 500ms ease-in-out;
	transition: 500ms ease-in-out;
}

.post-row .topic-item.highlight, #topics-container .category-item.highlight {
background: fade(@brand-primary, 20%);

}

.tag-item, .tag-topic-count {
    color: #666;
    border: 1px solid #e9ba6d;
}

.tag-item {
	background-color: #fff;
}

.tag-topic-count {
    background-color: #e9ba6d;
}


#main-nav {
	margin-left:20px;
}



.subcategory-header h4 {
font-size: 14px !important;
}

.category-header:hover {
position: relative;
-webkit-box-shadow: 0px 1px 5px 0px rgba(50, 50, 50, 0.3);
-moz-box-shadow:    0px 1px 5px 0px rgba(50, 50, 50, 0.3);
box-shadow:         0px 1px 5px 0px rgba(50, 50, 50, 0.3);
filter: brightness (100%);
-webkit-filter: brightness (100%);

}



h4.category-title {
margin-top: 8px;
}

.category-description {
margin-top: -8px;
}

.users .users-box img {
border-radius: 100px;
}

.img-thumbnail {

background-color: #fff;
border: none;
}

.category .topic-row {
	border-radius: 0px;
	padding: 20px 10px;
}



.img-rounded, #user-header-picture, .avatar img, .teaser-pic {
	border-radius: 100px !important;
}

.ignore {
background-color: @brand-info;	
border:1px solid darken(@brand-info, 5%);	
}

.ignore:hover,.ignore:active, .ignore:focus {
background-color: darken(@brand-info, 5%);	
border:1px solid darken(@brand-info, 10%);	
}

.favourite {
background-color: @brand-info;	
border:1px solid darken(@brand-info, 5%);
color: #fff;
}

.favourite:hover, .favourite:active, .favourite:focus {
background-color: darken(@brand-info, 5%);	
border:1px solid darken(@brand-info, 10%);
color: #fff;
}

.btn-warning, .favourite {
color: #666;
background-color: #fff;
border: 1px solid #ccc;
}

.btn-warning:hover, .btn-warning:active,.btn-warning:focus, .favourite:hover, .favourite:active, .favourite:focus  {
color: #666;
background-color: #ebebeb;
border: 1px solid #adadad;
}

 

.fa-star {
color: @brand-primary;
}


.nav-pills>li>a {
color: #333;
}

.users .users-box a {
color: #333;
}

.users .users-box a:Hover {
color: #000;
}

.status.online {
color: #7bab2e;	
}

.status.away {
color: #d18d1f;
}

.status.dnd {
color: @brand-danger;
}

.header #user_label img {
border: none;
}

.panel {
margin-bottom: 0px;
}

.reputation {
	display:none;
}
