@media (min-width: 768px) {
    #nav-dropdown, .navbar-header {
        width: 750px;
    }
}
@media (min-width: 992px) {
    #nav-dropdown, .navbar-header {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    #nav-dropdown, .navbar-header {
        width: 1170px;
    }
}

/*
#header-menu .container {
    padding: 0px !important;
    margin: 0px !important;
    width: 100% !important;
}

.navbar-right {
    margin: 0px !important;
}

#main-nav {
    margin-left: 80px !important;
}

.forum-logo {
    margin-left: 20px !important;
}

#search-form {
    margin-top: 4px !important;
}
*/


.arma3-slotting-button-add-match .slotting-text::after {
    content: "\00a0 +" !important;
  }
  
#chat-modal-404 {
    top: 64px !important;
}
  
  
#chat-message-input {
    height: 90px;
}

.expanded-chat .chat-input {
    height: 90px;
}

[component="category/topic"].locked::before {
    display: none;
}

.natosymbol {
    margin-left: 10px;
}

.slot_button .reservation:before {
    color: #6a6 !important;
    content: "\f13e";
}

.greenfor .company_title {
    color: #6a6 !important;
}

.independent .company_title {
    color: #6a6 !important;
}

.independent .company_title_container {
    border-top: 3px solid #6a6;
}

.greenfor .company_title_container {
    border-top: 3px solid #6a6;
}

.topic .content {
      margin-right: 60px;
  }
  
  .category>ul>li.pinned [component="topic/pinned"] {
      color: #8F1167;
  }
  
.nav-pills .btn.active {
    box-shadow: none;
    background-color: #D18D1F;
    color: #fff;
}

.nav-pills .btn:active {
    box-shadow: none;
    background-color: #999;
    color: #fff;
}
  

@media (max-width: 1280px) { 
  .topic-main-buttons .stats {
    display: none;
  }
  
  
}
@media (max-width: 1280px) { 
  [component="topic/watch"] .visible-lg-inline, [component="topic/mark-unread"] .visible-lg-inline {
    display: none !important;
  }
  
}

@media (max-width: 990px) {
   
    .topic .content {
      margin-right: 0px;
    }
  
    .stats-attendance {
    position: absolute;
    right: 30vw;
    display: block !important;
  }
  
  .stats-attendance i {
    right: 60px;
    position: relative;
  }
  
  .categories>li .content h2, .category>ul>li .content h2 {
    margin-right: 70px !important;
  }
  
  .category>ul>li h2 {
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
  }
}

@media (max-width: 768px) {
    .stats-attendance {
    position: absolute;
    right: 40px;
    display: block !important;
  }
  
  .stats-attendance i {
    right: 60px;
    position: relative;
  }
 
}


.topic .posts .content .img-responsive {
        max-width: 100% !important;
}

.topic .posts h1 {
    text-transform: none !important;
    font-size: 40px;
}

.topic .posts h2 {
    text-transform: none !important;
    font-size: 30px;
}

.topic .posts h3 {
    text-transform: none !important;
    font-size: 24px;
    color: #666;
}

.topic .posts h4 {
    font-size: 14px;
    font-weight: 700;
}


.category hr {
    border-top: 1px solid rgba(0,0,0,0.05);
border-bottom: 1px solid rgba(255,255,255,0.1);
}

.left_mask {
    display: none;
}

.right_mask {
    display: none;
}

.header .forum-logo {
    position: absolute;
    padding: 0px;
    max-height: 50px;
}

#main-nav {
    margin-left: 60px;
}


body {
    background-color: #e0e0e0;
}

.navbar-default {
    border: none;
    box-shadow: 0px 1px 3px rgba(0,0,0,0.1);
}

.widget-stats .forums-stats {
    display: none;   
}

.widget-stats .list-title {
    margin: 0px;
    margin-top: 15px;
    text-align:center;
}

.widget-stats .users-online {
    text-align:center;
}

.widget-stats .users-today {
    text-align:center;
}

.nav-pills>li>a {
  border-radius: 100px;
  color: #555;
  margin-right: 10px;
}



.user_pill_gastspieler a{

    color: #fff !important;
    background-color: #6a6;
}

.user_pill_fuehrung a{

    color: #fff !important;
    background-color: #8f1167;
}

.user_pill_adler a{

    color: #fff !important;
    background-color: #D18D1F;
}

.user_pill_anwaerter a{

    color: #fff !important;
    background-color: #6caacc;
}

.user_pill_gastspieler a:hover{

    color: #555 !important;
    background-color: #6a6;
}

.user_pill_fuehrung a:hover{

    color: #555 !important;
    background-color: #8f1167;
}

.user_pill_adler a:hover{

    color: #555 !important;
    background-color: #D18D1F;
}

.user_pill_anwaerter a:hover{

    color: #555 !important;
    background-color: #6caacc;
}

[data-relative-time="future"]  {
    border-left: 5px solid #96d11f;
}

[data-relative-time="past"]  {
    border-left: 5px solid #333;
}

#groups-list .panel-heading.list-cover {
    background-image: none!important;
    min-height: 0;
     display: table-row;
}

div [data-action="join"] {
    display: none;
}

div [data-action="leave"] {
    display:none;
}


@media screen and (max-width: 600px) {
    
    [component="topic/attendance"] {
        padding-bottom: 10px !important;
    }
    
   /* remove space intensive first column */
  [component="topic/attendance"] .main-table tr {
     display: block;
  }

  /* remove space intensive first column */
  [component="topic/attendance"] .main-table tr .firstColumn {
    display: block;
  }
  
  #fake-header {
    visibility: hidden;
    clear: both;
    display: none;
  }
}

div [data-slug="adler"] h3 {
    background-color: #D18D1F !important;
    font-weight: normal !important;
}

div [data-slug="anwärter"] h3 {
    background-color: #6caacc !important;
    font-weight: normal !important;
}

div [data-slug="gastspieler"] h3 {
    background-color: #6a6 !important;
    font-weight: normal !important;
}

div [data-slug="stammspieler"] h3 {
    background-color: #6a6 !important;
    font-weight: normal !important;
}

div [data-slug="führung"] h3 {
    background-color: #8f1167 !important;
    font-weight: normal !important;
}

div [data-slug="administrators"], .groups .row:first-child {
    display: none;
}

.nav>li>a:hover, .nav>li>a:focus {
    color: #000;
}


.ignore {
    display: none;
}
.category>ul>li {
  margin-bottom: 0px; 
  min-height: 53px;
  padding: 10px 0px 10px 0px;
 }
 
 .title a{
     color: #555;
 }
 
 .title a:hover {
  color: #D18D1F;
}

.category>ul>li h1 a:hover {
  color: #D18D1F !important;
}
 
 .topic .post-tools a {
     color: #D18D1F;
 }
 
 #chat-close-btn {
     background-color: #fff;
     border-color: #c0c0c0;
     color: #555;
 }
 
 .categories> li {
  margin-bottom: 0px; 
  min-height: 53px;
  padding: 10px 0 10px 0;
  background-color: #fff;
  border-bottom: 1px solid #f0f0f0;
 }
 
  .category>ul>li {
  margin-bottom: 0;
  min-height: 53px;
  padding: 10px 0 10px 0;
  background-color: #fff;
  border-bottom: #f0f0f0 solid 1px;
 }
 
 


.topic .posts {
      list-style-type: none;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0,0,0,0.1);
}

.categories >li, .category > ul > li {
     box-shadow: 0px 1px 3px rgba(0,0,0,0.1);
}

.categories>li .content .icon, .category>ul>li .content .icon {
  font-size: 17px;
  line-height: 17px;
  padding-left: 13.5px;
  padding-top: 14.5px;
  border-radius: 50%;
  margin-right: 15px;
  width: 48px;
  height: 48px;
  margin-top: 1vh;
  margin-bottom: 1vh;
}

.categories li .content .icon, .category ul li .content .icon {
    margin-top: 1vh;
    margin-bottom: 1vh;
}




 @media (max-width: 500px) {
   .categories> li   {
  margin-bottom: 0px;
  min-height: 53px;
  padding: 0px 0 10px 0;
  background-color: #fff;
  border-bottom: 1px solid #f0f0f0;
  
  }
  
 
  
 
  
  
  .btn[data-value="unknown"], .btn[data-value=""] {
      background-color: #4a5559 !important;
  }
  
  .categories>li .content, .category>ul>li .content {
      margin-top:0px;
      padding-top: 4px;
  }
  /* category */
  .category>ul>li {
  margin-bottom: 0;
  min-height: 53px;
  padding: 0px 0 10px 0;
  background-color: #fff;
  border-bottom: #f0f0f0 solid 1px;
  }
  
  .categories>li .card, .category>ul>li .card {
      margin-top: 0px;
  }
 }
 
 #nprogress .bar {
     background: #D18D1F none repeat scroll 0 0;
 }
 #nprogress .peg {
    box-shadow: 0 0 10px #D18D1F, 0 0 5px #D18D1F;
}
 
 #nprogress .spinner-icon {
    border-color: #D18D1F transparent transparent #D18D1F;
    margin-top: -9px;
 }
 
.status.online {
    color: #6a6;   
}

.status.away {
  color: #d18d1f;
}

.status.dnd {
  color: #c91106;
}

td, th {
  padding: 7px !important;
  border: solid 1px #c0c0c0;
}

.topic .posts>li>hr {
    -webkit-transition: 10.75s ease-in-out border-color;
  -o-transition: 10.75s ease-in-out border-color;
  transition: 10.75s ease-in-out border-color;
}

.taskbar .navbar-nav li.taskbar-composer a i, .taskbar .navbar-nav li.taskbar-chat a i
{
  font-size: 18px;
  line-height: 48px;
  color: #fff;
}

.topic .moderator-tools {
    float: right;
}

#panel {
    padding-top: 0;
}

.category-children a{
    /* display: none;*/
    /*text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    background-color: #c0c0c0;
    border-radius: 100px;
    
    font-size: 4px;
    padding-right: 10px;*/
     float: right;
      display: none;
}

.category-children a small{
    /*color: #c0c0c0 !important;*/
    display: none;
} 

.category-children span{
    display: none;
}

/*
.category-children span i {
    background-color: #fff !important;
    color: #c0c0c0 !important;
   
}

.category-children span i:hover {
    background-color: #fff !important;
    color: #767676 !important;
   
}
*/

.categories>li .category-children .fa-stack, .category>ul>li .category-children .fa-stack {
    display: inline-block;
}

.category h2.title .description, .categories h2.title .description, .subcategory h2.title .description {
    line-height:1.2;
}

.categories>li .content h2, .category>ul>li .content h2 {
    margin-top: 1vh;
}

.fake-hauptmenu-item a img {
margin: 0px 10px;
display: inline-block;
margin-bottom: 4px;
}

.fake-hauptmenu-item-active, .fake-hauptmenu-item {
    padding: 0px;
    line-height: 32px;
}