.user_pill_gastspieler a{
  color: #6a6;
}

.user_pill_fuehrung a{
  color: #8f1167;
}

.user_pill_adler a{
  color: #D18D1F;
}

.user_pill_anwaerter a{
  color: #6caacc;
}

.stats-votes {
  display: none;
}

[component="category/topic"].locked::before {
  display: none;
}

.locked::before {
  display: none;
}

div [data-slug="administrators"], .groups .row:first-child {
  display: none;
}

.right_mask, .left_mask {
    display: none;
}

.categories li:first-child {
    border-radius: 10px 10px 0 0 !important;
}

.categories li:last-child {
    border-radius: 0 0 10px 10px !important;
}


#content {
    padding-top: 20px;
}

.symbol_air {
    left: 6px;
}

/* events marker left side */
[data-relative-time="future"]  {
    border-left: 5px solid #96d11f;
}
[data-relative-time="past"]  {
    border-left: 5px solid #333;
}


/* widget stats ns */
.widget-stats .user-item {
    padding-right: 5px;
}
.widget-stats .forums-stats {
    display: none;
}
.widget-stats .list-title {
    margin: 0;
    margin-top: 15px;
    text-align:center;
}
.widget-stats .users-online {
    text-align:center;
}
.widget-stats .users-today {
    text-align:center;
}

/* displays attendance "stats", normal stats stay hidden */
.stats-attendance {
    display: inline-block;
}

/* converts button text: slotliste to icon only */
.arma3-slotting-button-add-match .slotting-text::after {
    content: "\00a0 +" !important;
}

/* styles nav pills for event filter */
.nav-pills .btn {
    background-color: rgba(0,0,0,0.1);
    padding: 5px 20px;
    top: 10px;
}
.nav-pills .btn.active {
    box-shadow: none;
    background-color: #333;
    color: #fff;
    padding: 5px 20px;
    top: 10px;
}
.nav-pills>li>a {
  border-radius: 100px;
  color: #555;
  margin-right: 10px;
}
