@import "../nodebb-theme-vanilla/less/bootstrap/bootstrap";

@import url(//fonts.googleapis.com/css?family=Source+Sans+Pro|Oswald);

@border-radius-base: 0;
@border-radius-large: 0;
@border-radius-small: 0;
@font-family-sans-serif: 'Source Sans Pro', sans-serif;
@brand-primary: #d18d1f;
@body-bg: #a2a2a2;

@import "../nodebb-theme-vanilla/less/vanilla";
@import "../nodebb-theme-vanilla/modules";

@import "./less/fake-hauptmenu";
@import "./less/custom";
